.btn {
  &:visited,
  &:link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: var(--default-font-size);

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }
  &--green {
    background-color: var(--color-primary);
    color: #fff;
  }
  &:hover {
    transform: scale(1.1);
    background-color: var(--color-hover);
  }
}
