.nav,
.nav-2 {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10.5vh;
  background-color: var(--color-black);
  &__logo {
    padding: 4rem;
  }
  &__logo-photo {
    height: 4rem;
    width: auto;
  }
  &__features {
    overflow: hidden;
    animation: leftInNav 1s ease-out;
  }
  &__list {
    display: flex;
    text-decoration: none;
    font-size: 1.55rem;
    align-items: center;
  }

  &__items {
    position: relative;
    list-style: none;
    margin: 0 2.2rem;
    a {
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      &:hover {
        color: var(--color-hover);
      }
    }
    &--seperator {
      border-left: 1px solid #fff;
      height: 2rem;
    }
  }
}
.nav {
  @media only screen and (max-width: 44em) {
    display: none;
  }
}
//////////////////////////////
//////////////////////////////
//////////////////////////////
//////////////////////////////
//////////////////////////////

////////////////////////////
//navigation 2

.nav-2 {
  justify-content: start;
  @media only screen and (min-width: 44em) {
    display: none;
  }
}
.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: var(--color-black);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 1rem;
    right: 6rem;
    border-radius: 50%;

    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 1.5rem;
    right: 6.5rem;
    background-image: radial-gradient(var(--color-black), var(--color-black));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    //transform: scale(80);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: var(--color-hover);
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
