body {
  font-family: sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #fff;
}
.heading {
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  &-primary {
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--1 {
      font-size: 1.3rem;
      letter-spacing: 3px;
      line-height: 1rem;
    }
    &--2 {
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 2px;
    }
    &--3 {
      font-weight: 200;
      font-size: 1.3rem;
      letter-spacing: 1px;
    }
  }
}
